h1{
    font-family: cursive;
    font-size: 25px;
}

#container{
    width: 500px;
    height: auto;
    margin-left: 100px;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 40px;
    border: 2px solid #3498db;
    background-color: #70bbed;
    border-radius: 10px;
}

#title h1{
    font-size: 20px;
    font-weight: bold;
}

#text{
    width: 300px;
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#date{
    padding: 10px;
    width: 180px;
    margin-bottom: 10px;
}

.add{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 25%;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:16px;
	padding-top:4px;
	padding-bottom:4px;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:600;
}

#addnotation{
    cursor: pointer;
    max-width: 400px;
}

#author{
    padding: 10px;
    width: 180px;
    margin-bottom: 20px;
}

.bold{
    font-weight: bold;
    font-size: 18px;
}