<!doctype html>

<html ng-app="Note">
<head>
    <meta charset="utf-8">

    <title>Node and Angular</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="core.js"></script>
    <script src="javascripts/scripts.js"></script>

</head>

<body ng-controller="mainController">
    <div id='container'>
        <div id="note-form">         
            <form>       
                <h1>Dodaj wpis:</h1>
                        <div id='form'>
                        <img src="images/note.png" style="width:30px;height:30px;margin-top:45px;">
                            <textarea rows='4' id='text' placeholder="Dodaj wpis" ng-model="formData.text"> </textarea></br>
                        <img src="images/cal.png" style="width:30px;height:30px;">
                            <input type="date" id='date' width="200px" placeholder="Data wpisu:" ng-model="formData.date"> <br>
                        <img src="images/user.svg" style="width:30px;height:30px;">
                            <input type="text" id='author' width="300px" ng-model="formData.author"><br>
                        </div>
                        <button type="submit" class='add' ng-click="createNote()">Wyślij</button>
                        <button type="button" id='show' class='add'>Pokaż wpisy</button>
            <br>
            </form>
        </div>
    
    <div id='notes'>
    <div id='title'>
            <h1>Liczba wpisów: <span>{{ notes.length }}</span></h1>
            <h5>Aby usunąć wpis kliknij na niego</h5>
    </div>

            <div id='show' ng-repeat="note in notes">
                <textarea id='addnotation' ng-click="deleteNote(note._id)" rows="2" placeholder=" {{ note.text }} "></textarea><br>
                Autor: <span class='bold'>{{note.author}}</span> Data: <span class='bold'>{{note.date}}</span>
            </div>
    </div>
    </div>
    
    
</body>
    
    
</html>